* {
	box-sizing: border-box;
}

body {
	background: black;
}

#container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 15px;
}

#board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	gap: 15px;
	aspect-ratio: 1;
}

#board .tiles {
	position: relative;
	aspect-ratio: 1;
	width: 100%;
	height: 100%;
	border: 5px solid transparent;
	border-radius: 10px;
	background: #1C1C1C;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	} 100% {
		transform: rotate(360deg);
	}
}

#board .tile-container {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	padding: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.4);
	border: 1px solid black;
}

#board .tile-container:hover {
	padding: 6px;
	box-shadow: 2px 2px 2px 2px rgba(255, 0, 173, 0.2);
}

.tile-container::before {
	content: '';
	position: absolute;
	top: -25px;
	right: 0;
	bottom: 0;
	left: -25px;
	height: 150px;
	width: 150px;
	background:	linear-gradient(45deg, #0100FF, #FF00AD);
	background-size: 100%;
	animation: rotate 5s linear infinite;
	z-index: -1;
}
